* {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #494949;
  box-sizing: border-box;
}

.to-do {
  max-width: 400px;
  margin: auto;
  box-shadow: 5px 5px 20px #d8d8d8;
  margin-top: 50px;
}

.to-do p,
.inputTask,
.listItem,
.clear,
.newValue {
  border: 1px solid #f6f6f6;
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.inputTask {
  font-style: italic;
  border: none;
}

.inputTask:focus,
.newInput {
  outline: none;
  border: none;
}

.clear {
  background-color: #f6f6f6;
  color: #8f8f8f;
  justify-content: center;
  padding-left: 0;
}

.listItems li {
  list-style-type: none;
  cursor: move;
  background-color: darkgrey;
}

.listItem {
  cursor: move;
}

.listItem.over {
  border: 1px solid black;
}

.listItem,
.newValue {
  display: flex;
  align-items: center;
}

.box {
  order: 0;
  width: 4%;
  margin-right: 7px;
}

.listItem li,
i,
.newInput {
  background-color: white;
}

.listItem li {
  order: 1;
  width: 90%;
}

i {
  color: #dbd9d9;
  order: 2;
  width: 10%;
}

.newValue,
.newInput,
.newValue i {
  background-color: #fffec6;
}

.newInput {
  width: 90%;
}

.fa-ellipsis-v:hover {
  cursor: pointer;
}

.fa-trash-alt:hover {
  cursor: pointer;
}
